<!DOCTYPE html>
<html lang="ja">

</html>

<head>
    <meta charset="UTF-8">
    <title>承認</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="top-wrapper">

        <div class="top-image">
            <h1><a href="/index"><img src="/images/logo.jpg" alt="LexSol"></a></h1>
        </div>
        <h1 class="title">承認</h1>


        <% if (typeof xlsk !== 'undefined') { %>
            <% var projectName = '' %>
            <% for ( row in xlsk ) { %>
                <form action="/approve" method="post">
                <% if (projectName !== xlsk[row].project) { %>
                    <% projectName = xlsk[row].project %>
                    </table>
                    <h2><%= xlsk[row].project %></h2>
                    <table border="1" width="50%" height="70%">
                        <tr>
                            <th colspan="2" id="appcol">承認</th>
                            <th>記入日</th>
                            <th>記入者</th>
                            <th>タイトル</th>
                            <th>不具合・要望内容</th>
                            <th>PGM_ID</th>
                            <th>対応</th>
                            <th>対応者</th>
                            <th>進捗</th>
                            <th>重要度</th>
                            <th>対応予定日</th>
                            <th>完了日</th>
                            <th>工数(人日)</th>
                            <th>種別</th>
                            <th>備考</th>            
                        </tr>
                <% } %>
                <tr>
                    <td>
                        <label><input type="radio" name='<%=xlsk[row].id%>' value='y' class="radio">Y</label>
                    </td>
                    <td>
                        <label><input type="radio" name='<%=xlsk[row].id%>' value='n' class="radio">N</label>
                    </td>
                    <td><%= xlsk[row].enterDate %></td>
                    <td><%= xlsk[row].enterPerson %></td>
                    <td align="left"><%= xlsk[row].title %></td>
                    <td align="left"><%= xlsk[row].content %></td>
                    <td align="left"><%= xlsk[row].pgmId %></td>
                    <td align="left"><%= xlsk[row].task %></td>
                    <td><%= xlsk[row].taskPerson %></td>
                    <td><%= xlsk[row].progress %></td>
                    <td><%= xlsk[row].importance %></td>
                    <td><%= xlsk[row].taskDate %></td>
                    <td><%= xlsk[row].compDate %></td>
                    <td><%= xlsk[row].manHour %></td>
                    <td><%= xlsk[row].taskType %></td>
                    <td><%= xlsk[row].note %></td>
                </tr>                 
            <% } %>
        
        </table>
        <% }%>

        <% if (approveMsg) { %>
            <h3><%= approveMsg %></h3>
        <% } %>
        <br>

        <input type="submit" value="承認を確定" class='button'>
        </form>
        <a href="/index" class="button">ホームに戻る</a>
        <form method="post" action="/testSlack">
            <input list="userName" name="userId" size="15">
            <datalist id="userName">
            <!-- ここではアカウント名のリストをもらってforでoptionを生成するのがいいかな -->
                <option value="わかちこ"></option>
                <option value="ゆぴお"></option>
                <option value="はみげ"></option>
                <option value="おるみ"></option>
                <option value="およぴ"></option>
                <option value="おぐれ"></option>
            </datalist>

            <input type="submit" value="slackへ通知">
        </form>
    </div>
</body>

</html>