<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>承認待ちリスト</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript">

        function disp(fileId, pass) {

            // 入力ダイアログを表示 ＋ 入力内容を passIn に代入
            passIn = window.prompt("パスワードを入力してください", "");

            if (passIn == pass) {
                location.href = "/approve?id=" + fileId;
            }
            else if (passIn != "" && passIn != null) {
                window.alert('パスワードが間違っています');
            }
            else　// 空の場合やキャンセルした場合は警告ダイアログを表示
            {
                window.alert('キャンセルされました');
            }

        }

    </script>
</head>

<body>
    <div class="top-wrapper">

      <div class="top-image">
        　　<a href="/index"><font color="#FF4F02">Lex</font><font color="#00008B">Sol</font></a>
          <!--<img src="/images/logo.jpg">-->
      </div>
        <h1 class="title">承認待ちリスト</h1>
        <div id="menu-bar">
        <ul>
            <li><a href="/projectList" class="button">プロジェクト一覧</a></li><br>
            <li><a href="/upload" class="button">ファイルアップロード</a></li><br>
            <!-- 管理者ユーザー名を記述 -->
            <li><a href="/approveList" class="button">承認</a></li><br>
            <li><a href="/registAccount" class="button">新規アカウント登録</a></li><br>
            <li><a href="/logout" class="button">ログアウト</a></li><br>
        </ul>
      </div>
      <div class="main">
        <% if (xlsk.length > 0) { %>
        <% var fileName = '' %>

        <table class="chart-table" border="1" cellspacing="0">
            <tr>
                <th>プロジェクト名</th>
                <th>承認アカウント</th>
                <th width="50%">コメント</th>
                <th nowrap>認証</th>
            </tr>

            <% for ( row in xlsk ) { %>
                <% if(typeof  xlsk[row].Files !== 'undefined'){ %>
                    <% for ( file_num in xlsk[row].Files ) { %>
                        <% if (fileName !== xlsk[row].Files[file_num]) { %>
                            <% fileName = xlsk[row].Files[file_num].fileName %>
                            <tr>
                                <td><%= fileName %></td>
                                <td><%= xlsk[row].accountName %></td>
                                <td align="left"><%= xlsk[row].Files[file_num].comment %></td>
                                <td>
                                    <input type="button" class="btn-square" value="認証"
                                        onClick="disp('<%= xlsk[row].Files[file_num].fileId %>', '<%= xlsk[row].password %>')">
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                <% } %>
            <% } %>

        </table>
        <% }%>

    </div>
  </div>
</body>

</html>
