<!DOCTYPE html>
<html lang="ja">

</html>

<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="top-wrapper">

        <div class="top-image">
            <h1><a href="/index"><img src="/images/logo.jpg" alt="LexSol"></a></h1>
        </div>
        <h1 class="title">ファイル内容表示</h1>

        <table border="1" width="50%" height="70%">
            <tr>
              <th>対応</th>
              <th>対応車</th>
              <th>進捗</th>
              <th>重要度</th>
              <th>対応予定日</th>
              <th>完了日</th>
              <th>工数(人日)</th>
              <th>種別</th>
              <th>備考</th>
            </tr>
        <% if (typeof sheet !== 'undefined') { %>
            <% for (var i = 0; i < 10; i++) { %>
                <tr>
                    <th><%= sheet[0][names[0]] %></th>
                    <th><%= sheet[0][names[1]] %></th>
                    <th><%= sheet[0][names[2]] %></th>
                    <th><%= sheet[0][names[3]] %></th>
                    <th><%= sheet[0][names[4]] %></th>
                    <th><%= sheet[0][names[5]] %></th>
                    <th><%= sheet[0][names[6]] %></th>
                    <th><%= sheet[0][names[7]] %></th>
                    <th><%= sheet[0][names[8]] %></th>
                  </tr>
            <% } %>
        <% }%>
        </table>

        <br>
        <a href="/index" class="button">ホームに戻る</a>
    </div>
</body>

</html>