<!DOCTYPE html>
<html lang="ja">

</html>

<head>
    <meta charset="UTF-8">
    <title>工数一覧</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript">

        function disp(pname,id) {

            // 「OK」時の処理開始 ＋ 確認ダイアログの表示
            if (window.confirm('本当に削除しますか？')) {
                location.href = "/delete?id=" + id + "&pname=" + pname;
            }else {
                window.alert('キャンセルされました'); // 警告ダイアログを表示
            }
        }

    </script>
</head>

<body>
    <div class="top-wrapper">
      <div class="top-image">
        　　<a href="/index"><font color="#FF4F02">Lex</font><font color="#00008B">Sol</font></a>
          <!--<img src="/images/logo.jpg">-->
      </div>
        </div>
        <h1 class="title">工数一覧</h1>
        <div id="menu-bar">
        <ul>
            <li><a href="/projectList" class="button">プロジェクト一覧</a></li><br>
            <li><a href="/upload" class="button">ファイルアップロード</a></li><br>
            <!-- 管理者ユーザー名を記述 -->
            <li><a href="/approveList" class="button">承認</a></li><br>
            <li><a href="/registAccount" class="button">新規アカウント登録</a></li><br>
            <li><a href="/logout" class="button">ログアウト</a></li><br>
        </ul>
        </div>
        <div class="main">
        <% if (typeof xlsk !== 'undefined') { %>
            <% var name = '' %>
            <% var sum_manHour = 0 %>
            <% for ( row in xlsk ) { %>
                <% let loopNum = 0 %>
                <% loopNum = xlsk[row].Details.length %>
                <% for ( let i = 0; i < loopNum; i++ ) { %>
                    <% if (name !== fileName) { %>
                        <% name = fileName %>
                            </table>
                            <h2 align="center"><%= fileName %></h2>
                            <table class="chart-table" border="1" cellspacing="0">
                                <tr>
                                    <th width="6%"><a href="/chart/sortEnterDate?pname=<%= fileName %>">記入日</a></th>
                                    <th><a href="/chart/sortEnterPerson?pname=<%= fileName %>">記入者</a></th>
                                    <th width="10%"><a href="/chart/sortTitle?pname=<%= fileName %>">タイトル</a></th>
                                    <th width="15%"><a href="/chart/sortContent?pname=<%= fileName %>">不具合・要望内容</a></th>
                                    <th width="15%"><a href="/chart/sortPGM_ID?pname=<%= fileName %>">PGM_ID</a></th>
                                    <th width="20%"><a href="/chart/sortTask?pname=<%= fileName %>">対応</a></th>
                                    <th><a href="/chart/sortTaskPerson?pname=<%= fileName %>">対応者</a></th>
                                    <th><a href="/chart/sortProgress?pname=<%= fileName %>">進捗</a></th>
                                    <th><a href="/chart/sortImportance?pname=<%= fileName %>">重要度</a></th>
                                    <th width="6%"><a href="/chart/sortTaskDate?pname=<%= fileName %>">対応予定日</a></th>
                                    <th width="6%"><a href="/chart/sortCompDate?pname=<%= fileName %>">完了日</a></th>
                                    <th><a href="/chart/sortManHour?pname=<%= fileName %>">工数(人日)</a></th>
                                    <th><a href="/chart/sortTaskType?pname=<%= fileName %>">種別</a></th>
                                    <th>備考</th>
                                    <th nowrap>承認依頼先</th>
                                    <th width="3%" nowrap>編集</th>
                                    <th width="3%" nowrap>削除</th>
                                </tr>
                    <% } %>
                    <tr class='flag<%= xlsk[row].flag%>'>
                        <td><%= xlsk[row].writeDate %></td>
                        <td><%= xlsk[row].writer %></td>
                        <td align="left"><%- xlsk[row].title %></td>
                        <td align="left"><%- xlsk[row].bugContent %></td>
                        <td align="left"><%- xlsk[row].Details[i].pgmId %></td>
                        <td align="left"><%- xlsk[row].Details[i].task %></td>
                        <td><%= xlsk[row].Details[i].taskPerson %></td>
                        <td><%= xlsk[row].Details[i].progress %></td>
                        <td><%= xlsk[row].Details[i].importance %></td>
                        <td><%= xlsk[row].Details[i].taskDate %></td>
                        <td><%= xlsk[row].Details[i].compDate %></td>
                        <td><%= xlsk[row].Details[i].manHour %></td>
                        <td><%= xlsk[row].Details[i].taskType %></td>
                        <td><%= xlsk[row].Details[i].note %></td>
                        <td><%= accountName %></td>
                        <td nowrap>
                            <a href="/edit?bugId=<%=xlsk[row].bugId %>&details=<%=xlsk[row].Details[i].detailsId %>" class="btn-square">編集</a>
                        </td>
                        <td nowrap>
                            <input type="button" class="btn-square" value="削除" onClick="disp('<%= fileName %>', '<%= xlsk[row].id %>')">
                        </td>
                    </tr>
                    <% sum_manHour += xlsk[row].Details[i].manHour %>
                <% } %>
            <% } %>

            <tr>
                <th>合計</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th><%= sum_manHour %></th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
            </tr>
            </table>
        <% }%>

        <br>
        <a href="/projectList" class="button">プロジェクト一覧に戻る</a>
    </div>
  </div>
</body>

</html>
