<!DOCTYPE html>
<html lang="ja">

</html>

<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="top-wrapper">

        <div class="top-image">
            <h1><a href="/index"><img src="/images/logo.jpg" alt="LexSol"></a></h1>
        </div>
        <h1 class="title">ファイル内容表示</h1>

        <table border="1" width="50%" height="70%">
            <tr>
              <th>対応</th>
              <th>対応者</th>
              <th>進捗</th>
              <th>重要度</th>
              <th>対応予定日</th>
              <th>完了日</th>
              <th>工数(人日)</th>
              <th>種別</th>
              <th>備考</th>
            </tr>
        <% if (typeof xlsk !== 'undefined') { %>
            <% for ( row in xlsk ) { %>
                <tr>
                    <th><%= xlsk[row].task %></th>
                    <th><%= xlsk[row].person %></th>
                    <th><%= xlsk[row].progress %></th>
                    <th><%= xlsk[row].importance %></th>
                    <th><%= xlsk[row].taskDate %></th>
                    <th><%= xlsk[row].compDate %></th>
                    <th><%= xlsk[row].manHour %></th>
                    <th><%= xlsk[row].taskType %></th>
                    <th><%= xlsk[row].note %></th>
                  </tr>
            <% } %>
        <% }%>
        </table>

        <br>
        <a href="/index" class="button">ホームに戻る</a>
    </div>
</body>

</html>