<!DOCTYPE html>
<html lang="ja">

</html>

<head>
    <meta charset="UTF-8">
    <title>工数一覧</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript">

        function disp(pname,id) {

            // 「OK」時の処理開始 ＋ 確認ダイアログの表示
            if (window.confirm('本当に削除しますか？')) {

                location.href = "/delete?id=" + id + "&pname=" + pname; // example_confirm.html へジャンプ

            }
            // 「OK」時の処理終了

            // 「キャンセル」時の処理開始
            else {

                window.alert('キャンセルされました'); // 警告ダイアログを表示

            }
            // 「キャンセル」時の処理終了

        }

    </script>
</head>

<body>
    <div class="top-wrapper">

        <div class="top-image">
            <h1><a href="/index"><img src="/images/logo.jpg" alt="LexSol"></a></h1>
        </div>
        <h1 class="title">工数一覧</h1>


        <% if (typeof xlsk !== 'undefined') { %>
            <% var projectName = '' %>
            <% var sum_manHour = 0 %>
            <% for ( row in xlsk ) { %>
                <% if (projectName !== xlsk[row].project) { %>
                    <% projectName = xlsk[row].project %>
                        </table>
                        <h2><%= xlsk[row].project %></h2>
                        <table border="1" width="50%" height="70%">
                            <tr>
                                <th><a href="/chart/sortEnterDate?pname=<%= xlsk[row].project %>">記入日</a></th>
                                <th><a href="/chart/sortEnterPerson?pname=<%= xlsk[row].project %>">記入者</a></th>
                                <th><a href="/chart/sortTitle?pname=<%= xlsk[row].project %>">タイトル</a></th>
                                <th><a href="/chart/sortContent?pname=<%= xlsk[row].project %>">不具合・要望内容</a></th>
                                <th><a href="/chart/sortPGM_ID?pname=<%= xlsk[row].project %>">PGM_ID</a></th>
                                <th><a href="/chart/sortTask?pname=<%= xlsk[row].project %>">対応</a></th>
                                <th><a href="/chart/sortTaskPerson?pname=<%= xlsk[row].project %>">対応者</a></th>
                                <th><a href="/chart/sortProgress?pname=<%= xlsk[row].project %>">進捗</a></th>
                                <th><a href="/chart/sortImportance?pname=<%= xlsk[row].project %>">重要度</a></th>
                                <th><a href="/chart/sortTaskDate?pname=<%= xlsk[row].project %>">対応予定日</a></th>
                                <th><a href="/chart/sortCompDate?pname=<%= xlsk[row].project %>">完了日</a></th>
                                <th><a href="/chart/sortManHour?pname=<%= xlsk[row].project %>">工数(人日)</a></th>
                                <th><a href="/chart/sortTaskType?pname=<%= xlsk[row].project %>">種別</a></th>
                                <th>備考</th>
                                <th>承認状態</th>
                                <th>編集</th>
                                <th>削除</th>
                            </tr>
                <% } %>
                <tr class='flag<%= xlsk[row].flag%>'>
                    <th><%= xlsk[row].enterDate %></th>
                    <th><%= xlsk[row].enterPerson %></th>
                    <th><%= xlsk[row].title %></th>
                    <th><%= xlsk[row].content %></th>
                    <th><%= xlsk[row].pgmId %></th>
                    <th><%= xlsk[row].task %></th>
                    <th><%= xlsk[row].taskPerson %></th>
                    <th><%= xlsk[row].progress %></th>
                    <th><%= xlsk[row].importance %></th>
                    <th><%= xlsk[row].taskDate %></th>
                    <th><%= xlsk[row].compDate %></th>
                    <th><%= xlsk[row].manHour %></th>
                    <th><%= xlsk[row].taskType %></th>
                    <th><%= xlsk[row].note %></th>
                    <th><% if(xlsk[row].flag === 1){ %>
                            <p>承認待ち</p>
                        <%}else if(xlsk[row].flag === 2){%>
                            <p>非承認</p>
                        <%} else{%>
                            <p>承認済み</p>
                        <%} %>
                    </th>
                    <th>
                        <a href="/edit?id=<%=xlsk[row].id %>">編集</a>
                    </th>
                    <th>
                        <input type="button" class="clear-decoration" value="削除" onClick="disp('<%= xlsk[row].project %>',<%= xlsk[row].id %>)">
                    </th>

                </tr>
                <% sum_manHour += xlsk[row].manHour %>
            <% } %>
            <tr>
                <th>合計</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th><%= sum_manHour %></th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
            </tr>
            </table>
        <% }%>

        <br>
        <a href="/projectList" class="button">プロジェクト一覧に戻る</a>
        <br>
        <a href="/index" class="button">ホームに戻る</a>
    </div>
</body>

</html>