<!DOCTYPE html>
<html lang="ja">

</html>

<head>
    <meta charset="UTF-8">
    <title>工数</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript">
        
        function disp(id){
        
            // 「OK」時の処理開始 ＋ 確認ダイアログの表示
            if(window.confirm('本当に削除しますか？')){
        
                location.href = "/delete?id=" + id; // example_confirm.html へジャンプ
        
            }
            // 「OK」時の処理終了
        
            // 「キャンセル」時の処理開始
            else{
        
                window.alert('キャンセルされました'); // 警告ダイアログを表示
        
            }
            // 「キャンセル」時の処理終了
        
        }
        
        </script>
</head>

<body>
    <div class="top-wrapper">

        <div class="top-image">
            <h1><a href="/index"><img src="/images/logo.jpg" alt="LexSol"></a></h1>
        </div>
        <h1 class="title">工数</h1>


        <% if (typeof xlsk !== 'undefined') { %>
        <% var projectName = '' %>
        <% for ( row in xlsk ) { %>
        <% if (projectName !== xlsk[row].project) { %>
        <% projectName = xlsk[row].project %>
        </table>
        <h2><%= xlsk[row].project %></h2>
        <table border="1" width="50%" height="70%">
            <tr>
                <th>対応</th>
                <th>対応者</th>
                <th>進捗</th>
                <th>重要度</th>
                <th>対応予定日</th>
                <th>完了日</th>
                <th>工数(人日)</th>
                <th>種別</th>
                <th>備考</th>
            </tr>
            <% } %>
            <tr>
                <div class='flag<%= xlsk[row].flag%>'>
                    <th><%= xlsk[row].task %></th>
                    <th><%= xlsk[row].person %></th>
                    <th><%= xlsk[row].progress %></th>
                    <th><%= xlsk[row].importance %></th>
                    <th><%= xlsk[row].taskDate %></th>
                    <th><%= xlsk[row].compDate %></th>
                    <th><%= xlsk[row].manHour %></th>
                    <th><%= xlsk[row].taskType %></th>
                    <th><%= xlsk[row].note %></th>
                    <th>
                </div>
                    <a href="/edit?id=<%=xlsk[row].id %>">編集</a>
                </th>
                <th>
                    <input type="button" class="clear-decoration" value="削除" onClick="disp(<%= xlsk[row].id %>)">
                </th>
            </tr>
            <% } %>
        </table>
        <% }%>

        <br>
        <a href="/index" class="button">ホームに戻る</a>
    </div>
</body>

</html>