<!DOCTYPE html>
<html lang="ja">

</html>

<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="top-wrapper">

        <div class="top-image">
            <h1><a href="/index"><img src="/images/logo.jpg" alt="LexSol"></a></h1>
        </div>
        <h1 class="title">編集</h1>
        <h2><%=editTarget.project %></h2>
        <table border="1" width="50%" height="70%">
            <tr>
                <th>対応</th>
                <th>対応者</th>
                <th>進捗</th>
                <th>重要度</th>
                <th>対応予定日</th>
                <th>完了日</th>
                <th>工数(人日)</th>
                <th>種別</th>
                <th>備考</th>
            </tr>

            <form method="post"　action="/edit">
                <tr>
                    <th><input type="text" name="task" size="15" value="<%=editTarget.task %>"></th>
                    <th><input type="text" name="person" size="15" value="<%=editTarget.person %>"></th>
                    <th><input type="text" name="progress" size="15" value="<%=editTarget.progress %>"></th>
                    <th><input type="text" name="importance" size="15" value="<%=editTarget.importance %>"></th>
                    <th><input type="text" name="taskDate" size="15" value="<%=editTarget.taskDate %>"></th>
                    <th><input type="text" name="compDate" size="15" value="<%=editTarget.compDate %>"></th>
                    <th><input type="text" name="manHour" size="15" value="<%=editTarget.manHour %>"></th>
                    <th><input type="text" name="taskType" size="15" value="<%=editTarget.taskType %>"></th>
                    <th><input type="text" name="note" size="15" value="<%=editTarget.note %>"></th>
                </tr>
        </table>
        <% if (typeof updateMsg !== 'undefined') { %>
            <h3><%= updateMsg %></h3>
        <% } %>
        <br>
            <input type="submit" value="編集を完了する" class="button">
            <a href="/chart" class="button">戻る</a>
        </form>
        
    </div>
</body>

</html>