<!DOCTYPE html>
<html lang="ja">

</html>

<head>
    <meta charset="UTF-8">
    <title>編集</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="top-wrapper">

        <div class="top-image">
            <h1><a href="/index"><img src="/images/logo.jpg" alt="LexSol"></a></h1>
        </div>
        <h1 class="title">編集</h1>
        <h2><%=editTarget.project %></h2>
        <table border="1" cellspacing="0" class="edit_table">
            <tr>
                <th>記入日</th>
                <th>記入者</th>
                <th>タイトル</th>
                <th>不具合・要望内容</th>
                <th>PGM_ID</th>
                <th>対応</th>
                <th>対応者</th>
            </tr>

            <form method="post"　action="/edit">
                <tr>
                    <td><input type="text" name="enterDate" size="15" value="<%=editTarget.enterDate %>"></td>
                    <td><input type="text" name="enterPerson" size="15" value="<%=editTarget.enterPerson %>"></td>
                    <td><textarea type="text" name="title" ><%= editTarget.title.replace(/<br>/g, '\n') %></textarea></td>
                    <td><textarea type="text" name="content"><%= editTarget.content.replace(/<br>/g, '\n') %></textarea></td>
                    <td><textarea type="text" name="pgmId"><%= editTarget.pgmId.replace(/<br>/g, '\n') %></textarea></td>
                    <td><textarea type="text" name="task"><%= editTarget.task.replace(/<br>/g, '\n') %></textarea></td>
                    <td><input type="text" name="taskPerson" size="15" value="<%=editTarget.taskPerson %>"></td>
                </tr>
                <tr>
                    <th>進捗</th>
                    <th>重要度</th>
                    <th>対応予定日</th>
                    <th>完了日</th>
                    <th>工数(人日)</th>
                    <th>種別</th>
                    <th>備考</th>
                </tr>
    
                <form method="post"　action="/edit">
                    <tr>
                        <td><input list="progressDatalist" name="progress" size="15" value="<%=editTarget.progress %>"></td>
                        <td><input list="importanceDatalist" name="importance" size="15" value="<%=editTarget.importance %>"></td>
                        <td><input type="date" name="taskDate" size="15" value="<%=editTarget.taskDate %>"></td>
                        <td><input type="date" name="compDate" size="15" value="<%=editTarget.compDate %>"></td>
                        <td><input type="text" name="manHour" size="15" value="<%=editTarget.manHour %>"></td>
                        <td><input type="text" name="taskType" size="15" value="<%=editTarget.taskType %>"></td>
                        <td><textarea type="text" name="note"><%=editTarget.note %></textarea></td>
                        <datalist id="importanceDatalist">
                            <option value="高"></option>
                            <option value="中"></option>
                            <option value="低"></option>
                            <option value="-"></option>
                        </datalist>
                        <datalist id="progressDatalist">
                            <option value="未着手"></option>
                            <option value="仕様確認"></option>
                            <option value="仕様待ち"></option>
                            <option value="開発中"></option>
                            <option value="開発完"></option>
                            <option value="社内テスト中"></option>
                            <option value="社内テスト完"></option>
                            <option value="社外テスト中"></option>
                            <option value="社外テスト完"></option>
                            <option value="リリース待ち"></option>
                            <option value="完了"></option>
                        </datalist>
                    </tr>
        </table>
        <% if (typeof updateMsg !== 'undefined') { %>
            <h3><%= updateMsg %></h3>
        <% } %>
        <br>
            <input type="submit" value="編集を完了する" class="button">
            <a href="/chart?pname=<%=editTarget.project%>" class="button">戻る</a>
        </form>
        
    </div>
</body>

</html>