<!DOCTYPE html>
<html lang="ja">

</html>

<head>
    <meta charset="UTF-8">
    <title>プロジェクト一覧</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript">

        function disp(id) {

            // 「OK」時の処理開始 ＋ 確認ダイアログの表示
            if (window.confirm('本当に削除しますか？')) {

                location.href = "/delete?id=" + id; // example_confirm.html へジャンプ

            }
            // 「OK」時の処理終了

            // 「キャンセル」時の処理開始
            else {

                window.alert('キャンセルされました'); // 警告ダイアログを表示

            }
            // 「キャンセル」時の処理終了

        }

    </script>
</head>

<body>
    <div class="top-wrapper">

      <div class="top-image">
        　　<a href="/index"><font color="#FF4F02">Lex</font><font color="#00008B">Sol</font></a>
          <!--<img src="/images/logo.jpg">-->
      </div>
        <h1 class="title">プロジェクト一覧</h1>
        <div id="menu-bar">
        <ul>
            <li><a href="/projectList" class="button">プロジェクト一覧</a></li><br>
            <li><a href="/upload" class="button">ファイルアップロード</a></li><br>
            <!-- 管理者ユーザー名を記述 -->
            <li><a href="/approveList" class="button">承認</a></li><br>
            <li><a href="/registAccount" class="button">新規アカウント登録</a></li><br>
            <li><a href="/logout" class="button">ログアウト</a></li><br>
        </ul>
      </div>
      <div class="main">
        <% if (typeof xlsk !== 'undefined') { %>
            <% var fileName = '' %>
            <table class="chart-table" border="1" cellspacing="0">
                <tr>
                    <th width="6%">プロジェクト名</th>
                  </tr>
            <% for ( row in xlsk ) { %>
                <% if (fileName !== xlsk[row].fileName) { %>
                  <% fileName = xlsk[row].fileName %>
                  <tr class='flag<%= xlsk[row].flag%>'>
                    <td><a href="/chart?pname=<%= xlsk[row].fileId %>" ><%= fileName %></a></td>
                  </tr>
                    <!--<h2><a href="/chart?pname=<%= xlsk[row].fileId %>" ><%= fileName %></a></h2>-->
                <% } %>


            <% } %>
          </table>

        <% }%>

        </div>
      </div>
</body>

</html>
